.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color:$secondary;
    box-shadow: 0 15px 25px rgba($black , .45);
    border-radius: 5px;
}

.add-post-form {
    display: flex;
    align-items: center;
}

.add-post-textarea {
    display: block;
    width: 75%;
    height: 26px;

    border: none;
    background: transparent;
    resize: none;

    font-family: inherit;
    color: $white;
    font-size: 1.5rem;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post-form-actions {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.add-post-send,
.add-post-file {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .2s linear;
}

.add-post-send {
    margin-left: 1.2rem;
    background-color: $blue;

    &:hover {
        background-color: darken($blue, $amount: 0.5);
    }
}

.add-post-file {
    background: #EBEBEB url("../../../assets/images/photo.svg") center no-repeat;

    input {
        display: none;
    }

    &:hover {
        background-color: darken($color: #EBEBEB, $amount: 0.5);
    }
}
