.post {
    margin-bottom: 3rem;
    padding: 2.5rem;

    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black , $alpha: .35); 

    border-radius: 5px;
}

.post_header {
    margin: 0 0 2.5rem 0;

    &--preview {
        margin: -2.5rem -2.5rem 2.5rem -2.5rem;
        overflow: hidden;
    }
}

.post_preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.post_content {
    margin-bottom: 2rem;
}

.post_title {
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    color: $white;
    font-weight: 500;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &--mb0 {
        margin-bottom: 0;
    }
}

.post_subtitle {
    font-size: 1.6rem;
    color: $white;
    font-weight: 500;

    margin-bottom: 2rem;
    margin-top: 3rem;
}

.post_description {
    font-size: 1.4rem;
    color: #D2D2D2;
}

.post_text {
    font-size: 1.4rem;
    color: $white;

    padding-bottom: 1rem;
    border-bottom: 1px solid #1c1c1c;

    h2,h3,h4,h5,h6 {
        margin-bottom: 2rem;
        font-weight: 700;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    h5,h6 {
        font-size: 1rem;
    }

    ul,ol {
        margin-bottom: 2rem;
    }

    ol {
        list-style: decimal;
        list-style-position: inside;
    }

    p {
        margin-bottom: 2rem;
    }

    a {
        color: $blue;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.post_footer {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.post_data {
    display: flex;
    color: #828282;
    line-height: 1.2rem;

    a {
        color: inherit;
    }
}

.post_data-item {

    &:not(:last-child):after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        position: relative;
        top: -2px;

        border-radius: 50%;
        background-color: #C4C4C4;
    }
}

.post_read {
    font-size: 1.4rem;
    color: #107EFF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.post_actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    
    font-size: 1.2rem;
    color: $white;    

    a {
        color: inherit;
        text-decoration: none;

        opacity: 0.6;
        transition: opacity 0.2s linear;

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }

    img {
        margin-left: 1rem;
    }
}