<div class="modal" id="contact-modal">
    <div class="modal_content modal_content--contact">

        <h1 class="page_title--center">Sign In</h1>

        <form action="/" method="POST" class="form">

            <div class="form_group form_group--md">
                <input type="text" class="form_control" placeholder="Your Name">
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <input type="email" class="form_control" placeholder="Your E-mail">
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <textarea class="form_control form_control--textarea" name="comment-text" placeholder="Write a message"></textarea>
                <span class="form_line"></span>
            </div>

            <div class="form_footer">
                <div class="form_group form_group--md">
                    <button type="submit" class="btn btn--rounded btn--blue btn--sm">Send</button>
                </div>
            </div>

        </form>

        <ul class="modal_footer">
            <li>
                E-mail: <a href="mailto:info@mywebsite.com">info@mywebsite.com</a>
            </li>
            <li>
                Phone: <a href="tel:+995555555555">+995-555-555-555</a>
            </li>
        </>

        <button type="button" class="modal_close">
            <img src="../assets/images/exit.svg" alt="Close">
        </button>

    </div> <!-- ./modal_conetn -->
</div> <!-- ./modal -->