<header class='header'>
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a class="nav_link" href="index.html">Main</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link has-subnav" href="#">blogs</a>
                    <ul class="subnav">
                        <li>
                            <a class="subnav_link" href="#">Create Web site</a>
                            <a class="subnav_link" href="#">Internet marketing</a>
                            <a class="subnav_link" href="#">Create better video</a>
                        </li>
                    </ul>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">About me</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">Add</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header_right">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a class="nav_link" href="#">Profile</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">Exit</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="post">
            <input class="search_input" type="text" placeholder="Search in blog">
        </form>
    </div>
</header>
