<div class="modal">
    <div class="modal_content">

        <button type="button" class="modal_close">
            <img src="../assets/images/exit.svg" alt="Close">
        </button>

        <ul class="social">
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="../assets/images/fb.svg" alt="facebook profile">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="../assets/images/twitter.svg" alt="ig profile">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="../assets/images/icons8-instagram.svg" alt="ig profile">
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="../assets/images/copy.svg" alt="pinterest profile">
                </a>
            </li>
        </ul>

    </div> <!-- ./modal_conetn -->
</div> <!-- ./modal -->