<aside class="sidebar">
    <div class="sidebar_header">
        <img src="../assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar_content">
        <div class="profile">
            <img class="profile_avatar" src="../assets/images/profile.jpg" alt="">
            <div class="profile_name">Alexander</div>
            <div class="profile_prof">Front end engeneer</div>

            <ul class="social">
                <li class="social_item">
                    <a class="social_link" href="#" target="_blank">
                        <img src="../assets/images/ig .svg" alt="ig profile">
                    </a>
                </li>
                <li class="social_item">
                    <a class="social_link" href="#" target="_blank">
                        <img src="../assets/images/icons8-facebook.svg" alt="facebook profile">
                    </a>
                </li>
                <li class="social_item">
                    <a class="social_link" href="#" target="_blank">
                        <img src="../assets/images/pinterest.svg" alt="pinterest profile">
                    </a>
                </li>
            </ul>
            <div class="profile_text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae necessitatibus, eos inventore libero ipsam error accusamus qui quis in laudantium dolore quo aliquid mollitia illo ducimus neque non quasi.</p>
            </div>
        </div> <!-- /.profile -->
    </div> <!-- /.sidebar_content -->
    <div class="sidebar_footer">
        <a class="btn btn--red" href="/works.html"> My works </a>
        <button class="btn btn--blue" type='button' data-modal="contact-modal"> Contact me</button>
    </div>
</aside>